:root {
    --background: #0c0c0c;
    --labelTextBG: #0005;
}

body > .layout-page img,
body > .layout-page svg,
body > .layout-page [style*="background-image"],
body > .layout-page,
.blob-viewer pre,
.note-body pre,
.progress-bar,
.dropdown-label-box,
.project-feature-toggle,
.gl-label,
.label-link,
gl-emoji,
.status-box,
.emoji-menu-list,
.fa,
.warning-title,
.danger-title,
.stacktrace table,
.color-label,
.diff-viewer,
.atwho-container,
.value-container,
.dropdown-label-color-preview,
.suggest-colors a {
    filter: invert();
}

.gl-label {
    filter: brightness(.8) invert();
    box-shadow: none !important;
    /* Unhappy using text-shadow, would love alternative solution */
    text-shadow: 1px 1px 0 var(--labelTextBG), 1px -1px 0 var(--labelTextBG), -1px 1px 0 var(--labelTextBG), -1px -1px 0 var(--labelTextBG), 1px 0px 0 var(--labelTextBG);
}
.gl-label:hover {
    filter: brightness(1) invert()
}
.gl-label-text {
    /* this really should be in the base GitLab theme, labels are 1 pixel too short! */
    line-height: 17px;
}
.gl-label-text-dark {
    text-shadow: none
}

.btn > .fa {
    /* What's font-awesome doing here? :P */
    filter: hue-rotate(180deg) invert();
}

.btn:not(.js-emoji-btn):not(.award-control),
.provider-btn {
    filter: hue-rotate(180deg) opacity(.8);
    transition: all .2s
}
.btn:hover:not(.js-emoji-btn):not(.award-control) {
    filter: hue-rotate(180deg) opacity(1);
}

body {
    background: var(--background);
}

body > header .show :not(input):not(.search-icon) {
    background-color: #111 !important;
    border-color: #333 !important;
    color: #fff !important;
}

body > header {
    border-bottom-color: #000 !important;
}

span.idiff {
    filter: hue-rotate(180deg);
}

ul.content-list li {
    border-color: #f1efef
}

.dropdown-content-faded-mask::after {
    /* background: linear-gradient(to top, #000 0, rgba(0,0,0,0)); */
}